@media screen and (max-width: 1160px) {
    

    .container {
        grid-template-columns: .5fr 7.8fr .5fr;
        gap: 30px;
        padding: 20px 0;

      }

      
      .sidebarL .logo h1 {
        font-size: 30px;
        padding: 0 25px 8px 25px;
      }
      
      .sidebarL ul {
        padding: 30px 30px 30px 10px;
      }
      
      .sidebarL ul li {
        gap: 14px;
        cursor: pointer;
        font-size: 12px;
      }
      
      .sidebarL ul li span{
        font-size: 14px;
      }

      .sidebarL ul li a {
        gap: 14px;
        cursor: pointer;
        font-size: 12px;
      }

      .sidebarL ul li a span{
        font-size: 14px;
      }


      .sidebarR {
        gap: 30px;
      }
      
      .sidebarR .profile-details{
        background-color: var(--light-blue-grayish);
        padding: 18px 25px;
      }
      
      .sidebarR .profile-details h1{ 
        font-size: 15px;
       
      }
      
      .sidebarR .profile-details h2{ 
        font-size: 50px;
      }
      
      .sidebarR .profile-details p {
        font-size: 10px;
      }
      
      .sidebarR .profile-details h5 {
        font-size: 8px;
      }
      
      
      .sidebarR .trends  {
        padding: 25px 18px;
      }
      
      
      .trending-title h1 {
        font-size: 13px;
      }
      
      
      .trending-list li {
        font-size: 12px;
      }
      
      footer {
        gap: 8px;
        font-size: 9px;
      }
}

@media screen and (max-width: 954px) {
    .container {
        grid-template-columns: 150px 1fr 190px;
        gap: 20px;
      }
      
      .sidebarL .logo h1 {
        font-size: 25px;
      }
      
      .sidebarL ul {
        padding: 20px 20px 20px 10px;
        gap: 35px;
      }
      
      .sidebarL ul li {
        gap: 8px;
        font-size: 10px;
      }
      
      .sidebarL ul li span{
        font-size: 10px;
      }

      .sidebarL ul li a{
        gap: 8px;
        font-size: 10px;
      }
      
      .sidebarL ul li a span {
        font-size: 10px;
      }
     

      .sidebarR {
        gap: 25px;
      }
      
      .sidebarR .profile-details{
        background-color: var(--light-blue-grayish);
        padding: 16px 18px;

      }
      
      .sidebarR .profile-details h1{ 
        font-size: 10px;
      }
      
      .sidebarR .profile-details h2{ 
        font-size: 40px;
        padding-bottom: 7px;
      }
      
      .sidebarR .profile-details p {
        font-size: 7px;
      }
      
      .sidebarR .profile-details h5 {
        font-size: 7px;
      }
      
      
      .sidebarR .trends  {
        padding: 25px 16px;
      }
      
      
      .trending-title h1 {
        font-size: 11px;
      }
      
      
      .trending-list li {
        font-size: 10px;
      }
      
      footer {
        gap: 5px;
        font-size: 8px;
      }

      .my-question {
        padding: 32px;
      }

      .table-title {
        font-size: 13px;
      }
    
      .table-time {
        font-size: 9px;
      }
}

@media screen and (max-width: 792px) {
    .container {
        grid-template-columns: 50px 1fr;
        gap: 30px;
        padding: 20px;
      }

      .hamburger {
        display: block;
        padding: 0 20px;
        font-size: 30px;
        text-align: center;
      }

      .sidebarL {
        display: flex;
        align-items: center;
      }
      
      .sidebarL .logo h1 {
        font-size: 20px;
        padding: 10px;
        display: none;
      }
      
      .sidebarL ul {
        padding: 20px 20px 20px 10px;
        gap: 30px;
        display: none;
      }
      
      
      /* main  */

      /* sidebar right */

      .sidebarR {
        gap: 25px;
        display: none;
      }
      
      .sidebarR .profile-details{
        background-color: var(--light-blue-grayish);
        padding: 16px 18px;

      }
      
      .sidebarR .profile-details h1{ 
        font-size: 10px;
      }
      
      .sidebarR .profile-details h2{ 
        font-size: 40px;
        padding-bottom: 7px;
      }
      
      .sidebarR .profile-details p {
        font-size: 7px;
      }
      
      .sidebarR .profile-details h5 {
        font-size: 7px;
      }
      
      
      .sidebarR .trends  {
        padding: 25px 16px;
      }
      
      
      .trending-title h1 {
        font-size: 11px;
      }
      
      
      .trending-list li {
        font-size: 10px;
      }
      
      footer {
        gap: 5px;
        font-size: 8px;
      }

      .create-question {
        padding: 35px;
      }

      .create-question .create-question-form  {
        padding: 25px 30px;
      }

      .my-question {
        padding: 28px;
      }

      .table-title {
        font-size: 11px;
      }
    
      
}

@media screen and (max-width: 602px) {

  .create-question {
    padding: 30px;
  }

  .create-question .create-question-form {
    padding: 25px 30px;

  }

  .create-question-form form select {
    width: 80px;
  }

  .create-question-form form button {
    width: 65px;
    font-size: 14px;
  }

  .my-question {
    padding: 17px;
  }

}