@media screen and (max-width: 830px) {
    .welcome-page {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: unset;
    }
  
    .welcome-page .left .text{
      display: flex;
      text-align: center;
    }
  
    .welcome-page .left .logo {
      font-size: 23px;
      text-align: start;
    }
  
    .welcome-page .left .text h1{
      font-size: 18px;
  
    }
  
    .welcome-page .right nav{
      gap: 20px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 40px 50px 0 0;
    }
  
    .welcome-page .right nav li a{
      font-size: 12px;
      color: var(--font);
    }
  
    .welcome-page .right .hero {
      height: 100%;
      width: 100%;
   
      
    }
  
    .welcome-page .right .hero .hero-container {
      height: 100%;
    }
  
      
  }


  @media screen and (max-width: 435px) {
  
    .welcome-page .left {
      padding: 30px;
      padding-top: 20px;
    }

    .welcome-page .left .logo {
      font-size: 18px;
      
    }
  
    .welcome-page .left .text h1{
      font-size: 13px;
  
    }
  
    .welcome-page .right nav{
      gap: 10px;
      padding: 25px 30px 0 0;
    }
  
    .welcome-page .right nav li a{
      font-size: 9px;
      color: var(--font);
    }
  
    .welcome-page .right .hero {
      height: 100%;
      width: 100%;
   
      
    }
  
    .welcome-page .right .hero .hero-container {
      height: 100%;
    }
  
      
  }


  @media screen and (max-width: 315px) {

    .welcome-page .left .logo {
      padding-top: 40px;
      
    }

    .welcome-page .left .logo h1{
      text-align: center;
      
    }
  }